form input.form-button,
form input.form-submit {
  	background: #222;
  	border: 0;
  	-moz-border-radius: 15px;
  	-webkit-border-radius: 15px;
  	-khtml-border-radius: 15px;
  	border-radius: 15px;
  	color: #ffffff;
  	display: inline;
  	letter-spacing: 1px;
  	width: auto;
  	margin:0 5px 0 0;
  	padding: 3px 10px;
  	text-transform: uppercase;
	}
	
	form input.form-button:hover,	
	form input.form-submit:hover {
		background: #666;
		cursor: pointer;
		}