form input.form-text{
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  
  background: #ccc;
  border: 0;
  color:#333;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing:0.01em;
  padding:4px 5px;
  font-size:1em;
  
  -moz-box-shadow: inset 1px 1px 3px #888;
  -webkit-box-shadow: inset 1px 1px 3px #888;
  box-shadow: inset 1px 1px 3px #888;
}
  form input.form-text:focus{
    background: #FBED73;
    -moz-box-shadow: inset 1px 1px 3px #c1ad50;
    -webkit-box-shadow: inset 1px 1px 3px #c1ad50;
    box-shadow: inset 1px 1px 3px #c1ad50;
  }
  form input.file {
    visibility:none;
  }

form input.form-button,
form input.form-submit {
    background: #000;
    border: 1px solid #000;
    border: 1px solid rgba(100, 100, 100, 0.2);
    
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
    border-radius: 25px;
    
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.3), 0 8px 15px -4px rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.3), 0 8px 15px -4px rgba(255, 255, 255, 0.3) inset;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3), 0 8px 15px -4px rgba(255, 255, 255, 0.3) inset;

    color: #fff;
    display: inline;
    letter-spacing: 1px;
    width: auto;
    margin:2px 5px 2px 0;
    padding: 3px 10px;
    text-transform: uppercase;
  }
  
  form input.form-button:hover, 
  form input.form-submit:hover {
    background: #ff3300;
    cursor: pointer;
    }

/* TinyMCE */

#tinymce {
  border:0;
  background-image:none;
  background-color: #fff;
  padding: 0 10px;
  color:#666;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing:0.01em;
  font-size:0.9em;
  line-height:1.6em;
}
  #tinymce blockquote {
    border-left:3px solid #b2b2b2;
    padding:5px 10px;
    background-color:rgba(0, 0, 0, 0.1);
    color:#222;
  }
  #edit-comment-wrapper{
    width:518px;
  }