/*
 * LAYOUT STYLES
 */
 
body{ 
  margin:0; 
  padding:0;
  background:#fff url(../images/footer_bg.jpg) 0 100% repeat-x;
}
  #site_wrapper{
    margin:0 auto;
    padding:0 10px 0 0;
    width:960px;
    background:url(../images/sitebg_inner.jpg) 0 0 no-repeat;
  }
  
#main_wrapper{
  width:100%;
}
  .primary_content{
    width:70%;
    float:left;
  }
    .header{
      padding-left:40px;
      height:90px;
    }
    .content_top{
    }
    .content{}
      .node{
        width:100%;
        background:url(../images/nodebox_bg.png) left bottom no-repeat;
      }
        .node_content{
          width:500px;
          margin-left:95px;
        }
    .content_bottom{}
    
  .secondary_content{
    width:30%;
    float:right;
  }

#footer{
  clear:both;
  padding-top:60px;
  height:50px;
}
  body.page-node #footer{
    padding-top:40px;
  }
#closure{
  
}

/* Inner Page title */
h1.title{
  padding:0 0 0 94px;
  margin:0 0 20px 0;
  width:420px;
  height:65px;
}
        
/* Admin */
#content_top{
  position:relative;
}
.page-node #admin_tabs_top{ 
  position:absolute;
  top:55px;
  left:240px;
  z-index:100;
  font-size:0.8em;
}
  #admin_tabs_top .tabs{
      opacity:0.7;
      filter:alpha(opacity=70)
  }
  .page-node #admin_tabs_top .messages{
    position:absolute;
    top:10px;
  }
  #content .krumo-root{
    position:absolute;
    top:174px;
    left:240px;
    width:700px;
  }