/* 
 * CSS for page node-type
 */
body.page-node .node ul {
  margin:0;
  padding:0;
  border-top:1px dotted #cecece;
}
body.page-node .node li {
  margin:0;
  padding:0.3em 1em;
  font-size:0.9em;
  list-style-type:none;
  list-style-image:none;
  border-bottom:1px dotted #cecece;
  background-color:#EFEFEF;
  color:#8f8f8f;
  font-family:Georgia,"Times New Roman",Times,serif;
  font-style:italic;
  letter-spacing:0.03em;
}
  body.page-node .node li:hover {
    background-color:#222;
  }
  body.page-node .node li em {
    font-style:normal;
  }

#content_bottom .tweets-pulled-listing p {
  margin:0;
  padding:0;
}
  #content_bottom .tweets-pulled-listing ul.tweets-pulled-listing {
    overflow:hidden;
    width:100%;
  }
  #content_bottom .tweets-pulled-listing ul.tweets-pulled-listing li {
    background:url(../images/blockquote_small.png) 0 0 no-repeat;
    padding:10px 0 30px 0;
    margin:0 3% 0 0;
    width:47%;
    min-height:100px;
    float:left;
  }
  #content_bottom .tweets-pulled-listing .tweet-author {
    padding:0;
  }
  #content_bottom .tweets-pulled-listing ul.tweets-pulled-listing li .tweet-body {
    text-indent:50px;
  }